@page
@model ToDotNet.Pages.Todos.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Todo</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Todo.Id" />
            <div class="form-group">
                <label asp-for="Todo.Title" class="control-label"></label>
                <input asp-for="Todo.Title" class="form-control" />
                <span asp-validation-for="Todo.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Todo.Description" class="control-label"></label>
                <input asp-for="Todo.Description" class="form-control" />
                <span asp-validation-for="Todo.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Todo.Created" class="control-label"></label>
                <input asp-for="Todo.Created" class="form-control" />
                <span asp-validation-for="Todo.Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Todo.Due" class="control-label"></label>
                <input asp-for="Todo.Due" class="form-control" />
                <span asp-validation-for="Todo.Due" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Todo.Category" class="control-label"></label>
                <input asp-for="Todo.Category" class="form-control" />
                <span asp-validation-for="Todo.Category" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Todo.IsCompleted" /> @Html.DisplayNameFor(model => model.Todo.IsCompleted)
                </label>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Todo.UserId" class="form-control" value="@ViewData["UserId"]" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-uid="@Model.Todo?.UserId">Cancel</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
